<h1>Welcome to book details page</h1>

<p>The Title</p>
<h2>{{theBook.title}}</h2>

<p>The Author</p>
<h2>{{theBook.author}}</h2>

<img style="width:400px" src="{{theBook.image}}" alt="Sorry no image">

